## set : It is unordered collection of elements

# How to create the set?

In [1]:
s={2,3,4,45,10,1,-1} # homo genous
print(s)
print(type(s))

{1, 2, 3, 4, 10, 45, -1}
<class 'set'>

In [1]:
s={2,3,4,45,10,1,-1,"python"} # hetrogenous
print(s)
print(type(s))

{1, 2, 3, 4, 10, 45, 'python', -1}
<class 'set'>

# empty set

In [7]:
s=set()
print(s)
type(s)

set()

set

# set properties 
- set allows unique elements
- set can have immutable elements
- set is not indexing
- nesting of set is not allowed
- set is mutable

# uniqueness

In [9]:
s={3,4,5,5,10,11,2,2,3}
s

{2, 3, 4, 5, 10, 11}

# remove duplicants in list

In [12]:
l=[3,4,5,5,10,11,2,2,3]
s=set(l)
list(s)

[2, 3, 4, 5, 10, 11]

## set can have immutable elements

#  immutable

- string
- tuple
- int
- float
- bool

# mutable:
- list
- set
- dict

In [13]:
a=90
print(a)
print(id(a))
a=99
print(a)
id(a)

90
1561242522768
99

1561242523056

In [14]:
s={"python",89,90.6,[9,8]}

TypeError: unhashable type: 'list'

In [15]:
s={"python",89,90.6,(9,8)}

In [16]:
s

{(9, 8), 89, 90.6, 'python'}

## set is not indexing

## nesting of set is not allowed

# traversal:
- for

In [17]:
s={2,4,4,10,11}
for i in s:
    print(i)

10
2
11
4

# common functions

- max
- min
- len
- sum
- sorted
- del

In [24]:
s={2,34,10,1,0,340,32,32}
print(len(s))
print(max(s))
print(min(s))
print(sum(s))
print(sorted(s))

7
340
0
419
[0, 1, 2, 10, 32, 34, 340]

In [25]:
del s

In [26]:
s

NameError: name 's' is not defined

In [27]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# since the set is mutable so we may 
- add
- delete
- update

## add

In [28]:
s={2,3,4,5,10}
s.add(100)

In [29]:
s

{2, 3, 4, 5, 10, 100}

# how to take the elements in the set from user

In [30]:
s=set()
n=int(input("enter the number of students "))
for i in range(n):
    m=int(input("enter the marks "))
    s.add(m)
s

enter the number of students 6
enter the marks 45
enter the marks 56
enter the marks 78
enter the marks 89
enter the marks 23
enter the marks 54

{23, 45, 54, 56, 78, 89}

# deletion

- pop
- remove
- clear
- del

In [32]:
s={2,3,4,4,10,4,1,2,-1,41}
s.pop()

1

In [33]:
s

{-1, 2, 3, 4, 10, 41}

## remove

In [35]:
s={2,3,4,4,10,4,1,2,-1,41}
s

{-1, 1, 2, 3, 4, 10, 41}

In [40]:
e=int(input("Enter the element to be removed "))
if e in s:
    s.remove(e)
    print(s)
else:
    print("not present")

Enter the element to be removed 3
{1, 2, 41, 10, -1}

In [41]:
s.clear()

In [42]:
s

set()

In [43]:
del s

In [44]:
s

NameError: name 's' is not defined

# opeartors +,*,< not working with set

In [47]:
s1={2,3,3,10}
s2={5,6,7,78,10}
s1<2

TypeError: '<' not supported between instances of 'set' and 'int'

In [1]:
s1={"apple","mango","litchi"}
s2={"mango","dates","almond","cashew"}
s1.union(s2)

{'almond', 'apple', 'cashew', 'dates', 'litchi', 'mango'}

In [2]:
s1.update(s2)

In [3]:
s1

{'almond', 'apple', 'cashew', 'dates', 'litchi', 'mango'}

In [55]:
s1={"apple","mango","litchi"}
s2={"mango","dates","almond","cashew"}
s1.intersection(s2)

{'mango'}

In [56]:
s1={"apple","mango","litchi"}
s2={"mango","dates","almond","cashew"}
s1.intersection_update(s2)

In [57]:
s1

{'mango'}

In [58]:
s1={"apple","mango","litchi"}
s2={"mango","dates","almond","cashew"}
s1.symmetric_difference(s2)

{'almond', 'apple', 'cashew', 'dates', 'litchi'}

In [59]:
s1={"apple","mango","litchi"}
s2={"mango","dates","almond","cashew"}
s1.difference(s2)

{'apple', 'litchi'}

In [61]:
s1={"apple","litchi"}
s2={"mango","dates","almond","cashew"}
s1.isdisjoint(s2)

True

In [63]:
s1={"apple","litchi","mango"}
s2={"mango","dates","almond","cashew","apple","litchi"}
s1.issubset(s2)

True

In [65]:
s1={"apple","litchi","mango"}
s2={"mango","dates","almond","cashew","apple","litchi"}
s2.issuperset(s1)

True

In [66]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# frozen set: immutble

In [67]:
s1

{'apple', 'litchi', 'mango'}

In [69]:
s2=frozenset(s1)
s2

frozenset({'apple', 'litchi', 'mango'})

In [70]:
s2.add("cashew")

AttributeError: 'frozenset' object has no attribute 'add'